:root {
    --gradient: linear-gradient(90deg, #a685e2, #6155a6);
}
html {
    font-size: 90% !important;
}
.bg-login {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url(../images/porter-raab-gnj9vj--FRY-unsplash.jpg);
    background-size: cover;
}

.sb-sidenav-menu .sb-nav-link-icon {
    width: 20px;
}

html::-webkit-scrollbar {
    width: 8px;
}
html::-webkit-scrollbar-track {
    background: #f1f1f1;
}
html::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    /* background: #e9ecef; */
    border-radius: 10px;
}

.sb-sidenav-menu::-webkit-scrollbar {
    width: 5px;
}
.sb-sidenav-menu::-webkit-scrollbar-track {
    background: #343a40;
}
.sb-sidenav-menu::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: 10px;
}

.r-border {
    border-radius: 50px !important;
}
.r-border-right {
    border-radius: 0 50px 50px 0 !important;
}
.r-border-left {
    border-radius: 50px 0 0 50px !important;
}

/* .mybtn {
    padding: 7px 20px;
    color: #fff;
    background: var(--gradient);
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.mybtn::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -100%;
    background: #fff9;
    height: 150%;
    width: 20%;
    transform: rotate(25deg);
    z-index: -1;
}
.mybtn:hover::before {
    transition: 0.5s linear;
    left: 120%;
    text-decoration: none !important;
} */
